<ion-content color="rosado">
  <ion-card *ngIf="userName && userEmail">
    <ion-card-header>
      <ion-card-title>{{ userName }}</ion-card-title>
      <ion-card-subtitle>Perfil Alumno DuocUC</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="end">
            <img src="https://tse2.mm.bing.net/th?id=OIP.ftl6c3Jn99MwoZqgW_NpWAHaGB&pid=Api" />
          </ion-thumbnail>
        </ion-item>
        <ion-item>
          <ion-label>Correo DuocUC: {{ userEmail }}</ion-label> <!-- Muestra el email del alumno -->
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>  
</ion-content>
