form {
    background-color: var(--ion-color-rosado);
    padding: 16px;
  }
  
  ion-item {
    margin-bottom: 16px;
  }
  
  ion-button:focus {
    box-shadow: 0 0 0 4px rgba(0, 230, 64, 0.5);
  }
  
  ion-label p {
    color: var(--ion-color-texto);
  }
  