<ion-content color="rosado">
  <ion-list>
    <ion-item *ngFor="let item of historial">
      <ion-label>
        <h2>Clase: {{ item.titulo }}</h2>
        <p>Fecha: {{ item.fecha }} - Hora: {{ item.hora }}</p>
      </ion-label>
      <ion-button 
        [color]="item.asistenciaRegistrada ? 'danger' : 'success'" 
        [disabled]="item.asistenciaRegistrada" 
        (click)="registrarAsistencia(item)">
        {{ item.asistenciaRegistrada ? 'Asistencia Registrada' : 'Registrar Asistencia' }}
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
